.myMore{
position: absolute;
top: 7px;

}

    
.myGurnaz{
position: absolute;
top: 30px;
left: 40px;
}

.first-video{

    position: absolute;
    top: 30px;
    left:40px;
}

.videos{

position: absolute;
top: 100px;
left:3px;
}